<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrostWatch</title>
    <!-- Load Leaflet CSS first -->
        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin />
        <!-- Use relative paths for direct browser viewing -->
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/SecondStyle.css">
        <link rel="stylesheet" href="../../static/css/MapStyle.css">
    </head>



<body>
    <div class = "container">
    <h1>
        <a href ="#menu"> FrostWatch </a>
    </h1>

    <div class="popover" id="menu">
 <div class = 'content'>
  <a href="#" class="close"></a>
   <div class="nav">
  <ul class="nav_list">

    <div class = "nav_list_item">
        <li><a href="Home.html">Home</a></li>
    </div>

    <div class = "nav_list_item">
        <li><a href="AboutUs.html">What is PermaFrost?</a></li>
    </div>

    <div class = "nav_list_item">
        <li><a href="MissionStatement.html">Our Mission</a></li>
    </div>

    <div class = "nav_list_item">
        <li><a href="DataMap.html">Map</a></li>
    </div>

    <div class = "nav_list_item">
        <li><a href="BehindTheScenes.html">Our Code</a></li>
    </div>

    <div class = "nav_list_item">
        <li><a href="Resources.html">Our Data</a></li>
    </div>

    </ul>
    </div>

    </ul>
    </div>
    </div>


</body>

<footer>
    <p> footer</p>
</footer>


</html>





